body { 
    margin:0;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 32px;
    text-decoration: none;
}
div.divFooter {
    position: fixed;
    bottom: 0;
}
paragraph {
}

